<!--registration/password-reset_form-->

{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        {% if valid %}
            <p>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
        {% else %}
            <form method="post" action="{% url 'admin_password_reset' %}">
                {% csrf_token %}
                <div class="form-row">
                    <label for="id_email">{% trans 'Email address:' %}</label>
                    <input type="email" name="email" autofocus required>
                </div>
                <button type="submit">{% trans 'Reset my password' %}</button>
            </form>
        {% endif %}
    </div>
{% endblock %}

