#gallery {
    display: flex;
    justify-content: center;
    align-items: justify;
    text-align: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
}

.gallery-content {
    max-width: 800px; 
    padding: 20px; 
    margin: 0 auto; 
}

.gallery-heading {
    font-size: 24px; /* Set font size to 24px */
    font-weight: bold; /* Make the font bold */
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 80px;
    flex-direction: row;
    width: 100%;
}

.gallery-images img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
}

.gallery-images img:hover {
    transform: scale(1.4); 
}

@media (max-width: 600px) {
    .gallery-images img {
        width: 100px; 
        height: 100px; 
    }
}
