/*menu.css*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px; /* Add some space between menu items */
}
