/* Styles for the button */
.submit-review button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid white; /* Increase border width and set color */
}

/* On hover styles for the button */
.submit-review button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for the review box */
.review {
    border: 2px solid white; /* Increase border width and set color */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: white; /* Set text color */
}

/* Styles for the submission form */
.submit-review {
    border: 2px solid white; /* Increase border width and set color */
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

