/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Main content area */
main {
    flex: 1; /* This will make the main section expand to fill the available space */
    padding: 20px;
    background-color: #f0f0f0; /* Optional background color */
} 

.container {
    padding: 20px;
}

/* Header styles */
header {
    background-image: url('https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809874/fork.jpg');
    background-size: cover;
    background-position: bottom; 
    color: gray;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 100px; /* Default font size */
    font-weight: bold;
    color: #1E90FF;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


/* Footer styles */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons-footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.social-icons-footer a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-icons-footer a:last-child img {
    margin-right: 0;
}

footer p {
    color: white;
    font-size: 12px;
}

/* Menu Page Specific */
.menu {
    text-align: center;
}

.menu-img {
    max-width: 50%; /* Reduce the size of the menu images */
    margin: 20px auto;
    display: block;
}

/* Center the navbar items */
.navbar {
    justify-content: center; /* Center the navbar horizontally */
    background-color: transparent; /* Transparent to blend with the header */
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Center the nav items within the navbar */
    width: 100%; /* Ensure the navbar spans the full width */
}

.nav-item {
    margin: 0 15px; /* Adjust spacing between nav items */
}

.navbar-brand {
    font-size: 80px;  /* Larger font size for the brand */
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-right: 20px; /* Space the brand away from nav items */
}

.nav-link {
    color: white !important; /* Ensure nav links are white */
    padding: 0 15px; /* Space out the links */
}

.nav-link:hover {
    color: #f0f0f0 !important; /* Lighter color on hover */
}