<!--base.html-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}THE FORK{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{% static 'css/styles.css?v=1' %}">
    <link rel="stylesheet" href="{% static 'css/media_queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/location.css' %}">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">

</head>
<body>

    <!-- Header Section -->
    <header>
        <a class="navbar-brand logo" href="{% url 'home' %}">THE FORK</a> <!-- Ensure the logo links to the homepage -->
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#about">About Us</a> <!-- Link to About Us section on homepage -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#location">Location</a> <!-- Link to Location section on homepage -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#gallery">Gallery</a> <!-- Link to Gallery section on homepage -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' %}">Menu</a> <!-- Link to the Menu page -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservation' %}">Reservation</a> <!-- Link to the Reservation page -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'review_create' %}">Write a Review</a> <!-- Link to the Review page -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    

    <!-- Content Block -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="social-icons-footer">
            <a href="https://www.facebook.com"><img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/facebook_si0l95.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/instagram_kywtcn.png" alt="Instagram"></a>
        </div>
        <p>&copy; 2024 THE FORK. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/your-script.js' %}"></script>
</body>
</html>
