<!--home.html-->
{% extends "base.html" %}

{% block title %}Home - THE FORK{% endblock %}

{% block content %}

<!-- Homepage Sections -->

<!-- About Us Section -->
<section id="about">
    <div class="about-content">
        <div class="about-image-container">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809874/fork.jpg" alt="Fork" class="about-image">
        </div>
        <div class="open-hours-section">
            <h2>About Us</h2>
            <p>We are a newly opened restaurant where your palates will be excited to taste the finest and freshest food you'll ever get.</p>
            <p>We specialize in desserts and Italian Cuisine. We are also located at the heart of Stockholm City, Sweden.</p>
            <p>Come and have a great time at The Fork Restaurant!</p>
            <h2>OPENING HOURS</h2>
            <p>Tuesday till Sunday</p>
            <p>5pm till 12 midnight</p>
            <p>For inquiries call: 0769258525</p>
        </div>
    </div>
</section>

<!-- Gallery Section -->
<section id="gallery">
    <h2 class="gallery-heading">G A L L E R Y</h2>
    <div class="gallery-content">
        <div class="gallery-images">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809910/pancake_qtecba.jpg" alt="pancake">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809936/salad_owwemr.jpg" alt="salad">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809941/slicedcake_jajzwj.jpg" alt="sliced_cake">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809943/steak_u2plrv.jpg" alt="steak">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809913/pasta_qz2ndg.jpg" alt="pasta">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809920/prepfood2_j2yipj.jpg" alt="Italian">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809923/preparation_eprhrw.jpg" alt="food">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809900/location4_lxwnaf.jpg" alt="outdoors">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809890/insidelocation6_tb1azn.jpg" alt="indoors">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809888/insidelocation5_agynax.jpg" alt="ambiance">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809892/lecheflan_jq6fa7.jpg" alt="Flan">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809877/icecream_ouue3d.jpg" alt="Ice_cream">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809925/purplecake_jrfn58.jpg" alt="Purple_Cake">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809898/location3_qr2l8j.jpg" alt="Location">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708195362/samples/food/pot-mussels.jpg" alt="Pot">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708195360/samples/food/dessert.jpg" alt="Pie">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809886/insidelocation4_umid2r.jpg" alt="Inside_resto">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809896/location2_m21tor.jpg" alt="outdoor_seat">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809946/topviewfood_o5v9ga.jpg" alt="Feast">
        </div>
    </div>
</section>

<!-- Reviews Section -->
<section id="reviews">
    <h2 class="section-heading">REVIEWS</h2>
    <div class="reviews-content">
        {% for review in reviews %}
        <div class="review-card">
            <h3>{{ review.name }}</h3> <!-- Display the name of the reviewer -->
            <p class="review-text">{{ review.review_text }}</p> <!-- Display the review text -->
            <ul class="comment-list">
                {% for comment in review.comments.all|slice:":5" %} <!-- Limit comments to the first 5 -->
                <li>{{ comment.comment_text }}</li> <!-- Display each comment -->
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Location Section -->
<section id="location">
    <h2 class="section-heading">L O C A T I O N</h2>
    <div class="location-content">
        <div class="contact-info">
            <h3>How to Contact Us:</h3>
            <p>Email: thefork@gmail.com</p> <!-- Contact email -->
            <p>Phone: 0769258525</p> <!-- Contact phone number -->
            <p>Address: Eriksgrand 15, 17754 Stockholm City, Sweden</p> <!-- Physical address -->
            <a href="{% url 'reservation' %}">Make a Reservation</a> <!-- Link to the reservation page -->
        </div>
        <div class="map-container">
            <!-- Embed Google Map iframe for location -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203287.8242936968!2d18.063240085694854!3d59.33459114215899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f76436abacecf%3A0x4007f44ef17f5a1!2sStockholm%2C%20Sweden!5e0!3m2!1sen!2sus!4v1646055671067!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>

{% endblock %}
