<!--menu.html-->
<!--menu.html-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

</head>
<body class="menu">
    <!-- Menu 1 -->
    <h1>Appetizers and Main Course</h1>
    <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709586665/Screenshot_20240304_220625_Drive_rdenzp.jpg" alt="Menu 1">

    <!-- Menu 2 -->
    <h1>Desserts and Drinks</h1>
    <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709586664/Screenshot_20240304_220533_Drive_jnfwue.jpg" alt="Menu 2">

    <!-- Menu 3 -->
    <h1>Cocktails and Whiskey</h1>
    <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709586664/Screenshot_20240304_220552_Drive_pogygw.jpg" alt="Menu 3">
</body>
</html>

