<!--reservation.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reservation.css' %}">
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="{% static 'js/reservation.js' %}"></script>
</head>
<body>
    <div class="reservation-box">
        <h2 class="note">Reservation Form</h2>
        <form id="reservation-form" method="post" action="{% url 'reservation' %}">
            <!-- Form fields -->
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            
            <label for="time">Time:</label>
            <select id="time" name="time" required>
                <option value="17:00">5:00 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="23:00">11:00 PM</option>
                
            </select>
            
            <label for="people">Number of People:</label>
            <select id="people" name="people" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{9}" required>
            
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="{% static 'js/reservation.js' %}"></script>
</body>
</html>
