/* About Us section styles */
#about {
    background-color: #f2f2f2; /* Light gray background for the About Us section */
    padding: 50px 0; /* Vertical padding for spacing */
    text-align: left; /* Align text to the left */
}

.about-content {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center align items horizontally */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Padding inside the content area */
    text-align: center; /* Center align text */
    background-color: rgba(0, 0, 255, 0.5); /* Semi-transparent blue background */
}

.about-image {
    width: 400px; /* Set width of the image */
    height: 400px; /* Set height of the image */
    border-radius: 50%; /* Make the image circular */
    margin-right: 30px; /* Right margin for spacing */
    margin: 20px auto; /* Center the image with vertical spacing */
}

.about-text {
    margin-top: 20px; /* Top margin for spacing above the text */
    font-size: 20px; /* Base font size for text */
    line-height: 1.5; /* Line height for readability */
    color: white; /* Text color set to white */
}

.about-text h2 {
    margin-top: 20px; /* Top margin for spacing above the heading */
    font-size: 40px; /* Font size for headings */
    line-height: 1.5; /* Line height for readability */
    color: white; /* Heading text color set to white */
}

.about-text p {
    font-size: 30px; /* Font size for paragraph text */
    text-align: left; /* Align paragraph text to the left */
}
